%h2 Zákaznícka zóna
%p Vitaj #{current_customer.first_name}.

.row
  .col-md
    #customer_points.mb-4
      = render 'customer_points', customer: current_customer

    #customer_claims
      = render 'customer_claims', customer: current_customer

  .col-md
    = render 'customer_qr_code', customer: current_customer

  .col-md
    %h5 Často kladené otázky
    %ul.faq
      %li
        = link_to '#' do
          Čo je služba Kávopič a prečo zbierať body?
      %li
        = link_to '#' do
          Aké výhody si môžem uplatniť za nazbierané body?

- if params[:debug] == '1'
  %p
    = link_to @url, @url
