%h2 Zákazníci

.table-responsive
  %table.table.table-bordered.table-sm
    %thead
      %tr
        %th Meno
        %th Priezvisko
        %th E-mail
        %th Registrácia
        %th Akcia
    %tbody
      - @customers.each do |customer|
        %tr
          %td= customer.first_name
          %td= customer.last_name
          %td= customer.email
          %td= l customer.created_at, format: :short
          %td= link_to 'Upraviť', [:edit, :admin, customer], class: 'btn btn-primary btn-xs'
