= form_with model: [:operator, @customer, @transaction] do |f|
  %h2 Zákazník
  %table.table-bordered.table-sm.mb-3
    %tbody
      %tr
        %th Meno
        %td= @customer.full_name
      %tr
        %th E-mail
        %td= @customer.email
      %tr
        %th Aktuálny počet bodov
        %td= @customer.transactions.sum(:amount)

  %h2 Vykonať akciu
  - TransactionCategory.all.each do |tc|
    = f.radio_button :transaction_category_id, tc.id
    = f.label :"transaction_category_id_#{tc.id}", tc.name
    %br

  %div
    = f.submit 'Vykonať', class: 'btn btn-primary'
