%h1.title-4 Vitaj,

.card.bg-light.border-light.mb-3
  .row.no-gutters
    .col-md-4
      = link_to new_customer_session_path do
        = image_tag 'pages/index/customer_sign_in.jpg', class: 'card-img'
    .col-md-8
      .card-body
        %h5.card-title Získavaj body pitím kávy
        %p.card-text Nazbierané body za kávu využívaš na ďalšie výhody.
        %p
          = link_to "Vstupiť ako zákazník", new_customer_session_path, class: 'btn btn-primary btn-lg'

.card.bg-light.border-light.mb-3
  .row.no-gutters
    .col-md-4
      = link_to new_operator_session_path do
        = image_tag 'pages/index/operator_sign_in.jpg', class: 'card-img'
    .col-md-8
      .card-body
        %h5.card-title Odmeňuj verných zákazníkov
        %p.card-text Si barista a patríš do prevádzky v našom systéme? Tu sa prihlásiš.
        %p
          = link_to "Vstupiť ako barista", new_operator_session_path, class: 'btn btn-secondary btn-lg'

%p.text-right
  = link_to "Prihlásenie administrátora", new_admin_session_path, class: 'text-muted'
