%h1.display-4.mb-3.text-primary
  = t('.sign_in')

.row

  .col-lg-4
    .card.mb-4.border-primary
      .card-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
          .form-group
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password", class: 'form-control'
          - if devise_mapping.rememberable?
            .form-group
              = f.check_box :remember_me
              = f.label :remember_me
          %div
            = f.submit t('.sign_in'), class: 'btn btn-primary'
    .mb-4= render "devise/shared/links"

  .col-lg-6.offset-lg-1.col-sm-10.offset-sm-1
    - if resource_name == :operator
      = image_tag 'pages/index/operator_sign_in.svg', class: 'img-fluid mb-3'
    - if resource_name == :customer
      = image_tag 'pages/index/customer_sign_in.svg', class: 'img-fluid mb-3'
