%h2 Prevádzky

.mb-3
  = link_to 'Pridať prevádzku',
    new_admin_organization_path,
    class: 'btn btn-primary'

.table-responsive
  %table.table.table-bordered
    %thead
      %tr
        %th
        %th Názov
        -# %th Ulica
        -# %th Mesto
        -# %th Súradnice
        %th Počet transakcií
        %th Vytvorené
        %th Akcia
    %tbody
      - @organizations.each do |organization|
        %tr
          %td.text-center.bg-light
            - unless organization.geocoded?
              = content_tag :span, '!', class: 'text-danger', title: 'Nezobrazuje sa na mape, chýba poloha'
          %td= link_to organization.name, [:admin, organization]
          -# %td= organization.street
          -# %td= organization.city
          -# %td
          -#   = organization.to_coordinates.join(', ') if organization.geocoded?

          %td= organization.transactions.size
          %td= l organization.created_at, format: :short
          %td
            = link_to 'Operátori',
              admin_organization_operator_organizations_path(organization),
              class: 'btn btn-secondary btn-sm'
            = link_to 'Transakcie',
              admin_organization_transactions_path(organization),
              class: 'btn btn-secondary btn-sm'
            .btn-group
              = link_to 'Upraviť',
                edit_admin_organization_path(organization),
                class: 'btn btn-secondary btn-sm'
              .btn-group
                %button{id: "btnGroupDrop1", class: "btn btn-secondary btn-sm dropdown-toggle", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false"}
                .dropdown-menu
                  = link_to 'Odstrániť',
                    admin_organization_path(organization),
                    method: :delete,
                    data: { confirm: 'Určite odstrániť?' },
                    class: 'dropdown-item'
