%h2 Detail prevádzky

.row
  .col-sm
    %p
      Názov: <br>
      #{@organization.name}
    %p
      Adresa: <br>
      #{@organization.address}
    %p
      Súradnice: <br>
      #{@organization.to_coordinates}
    %p
      Dátum vytvorenia:<br>
      #{l @organization.created_at, format: :long}

  .col-sm
    #admin_organization_map

%p
  = link_to 'Upraviť prevádzku', edit_admin_organization_path(@organization), class: 'btn btn-primary'
  = link_to 'Načítať súradnice z adresy',
    geocode_admin_organization_path(@organization),
    method: :patch,
    class: 'btn btn-secondary',
    data: { confirm: 'Súčasné súradnice (ak existujú) budú nahradené. Pokračovať?' }
  = link_to 'Operátori',
    admin_organization_operator_organizations_path(@organization),
    class: 'btn btn-secondary'
  = link_to 'Transakcie',
    admin_organization_transactions_path(@organization),
    class: 'btn btn-secondary'

  = link_to 'Späť na zoznam prevádzok', admin_organizations_path, class: 'btn btn-secondary'


:javascript

  var map = L.map('admin_organization_map', {
    center: [#{@organization.latitude}, #{@organization.longitude}],
    zoom: 15
  });

  var myIcon = L.icon({
      iconUrl: '/map_icons/coffee_icon.png',
      iconSize: [32, 32],
  });

  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
    maxZoom: 18
  }).addTo(map)


  var marker = L.marker([#{@organization.latitude}, #{@organization.longitude}], {icon: myIcon}).addTo(map);
