%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    = link_to 'Kávopič', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "Domov", root_path, class: 'nav-link'
        %li.nav-item
          = link_to "O nás", about_path, class: 'nav-link mr-3'

      %ul.navbar-nav
        %li.nav-item
          = link_to "Prihlásenie", new_customer_session_path, class: 'nav-link text-primary'
        %li.nav-item
          = link_to "Registrácia", new_customer_registration_path, class: 'nav-link text-success'
